/* Generics */
body{
    margin: 0 auto;
    background-color: #dbdbdb;
}

/* Utilities */
.container {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    padding: 15px 35px;
    margin-bottom: 5px;
}

/* header main*/
#main-header {
    background-color: white;
    height: 70px;
    padding: 10px 0 0 20px;
    margin-bottom: 40px;
}

#logo {
    height: 60px;
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align:middle;
    font-size: 2.5rem;
}

/* Header add */
.butt {
    padding: 6px;
    border: 1px solid gray;
    border-radius: 5px;
}

#b-task {
    background-color: #47ADF1;
    color: white;
}

#b-section{
    background-color: white;
    color: #ccd0d3;
}